{
  "locale": "fr",
  "facebook": {
    "active": true,
    "appSecret": "APP_SECRET",
    "pageAccessToken": "PAGE_ACCESS_TOKEN",
    "validationToken": "CUSTOM_VALIDATION_TOKEN",
    "salt": "SALT_ON_12_CHARACTERS",
    "serverURL": "SERVER_URL",
    "graphUrl": "https://graph.facebook.com/v2.6/"
  },
  "engine": {
    "api.ai": {
      "active": true,
      "clientAccessToken": "CLIENT_ACCESS_TOKEN",
      "developerAccessToken": "DEVELOPER_ACCESS_TOKEN"
    }
  },
  "datasource": {
    "allocine": {
      "active": true,
      "partnerKey": "AC_PARTNER_KEY",
      "url": "AC_URL"
    }
  },
  "mail": {
    "config": {
      "service": "gmail",
      "auth": {
        "user": "USER_EMAIL",
        "pass": "USER_PASSWORD"
      }
    },
    "helpdesk": "helpdesk@webedia-group.com"
  }
}
